@font-face {
    font-family: "Bold";
    src: url(../Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "ThinIt";
    src: url(../Roboto/Roboto-ThinItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Thin";
    src: url(../Roboto/Roboto-Thin.ttf) format("truetype");
}
@font-face {
    font-family: "Regular";
    src: url(../Roboto/Roboto-Regular.ttf) format("truetype");
}
header,footer{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}
.tab{
    padding: 10px;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    font-family: "Regular";
}
.tab a{
    padding: 20px;
    font-size: 18px;
    color: #e5e7eb;
}
#home{
    margin-left: 900px;
    
}
#logo{
    font-size: 24px;
    color: #f9faf8;
    font-family: "Bold";
}
.intro{
    margin-left: 150px;
    margin-top: 20px;
    display: flex;
    padding: 50px;
}
.intro h1{
    font-size: 48px;
    font-weight: 800;/*extra-bold*/
    color: #f9faf8;
}
#introImage{
    width: 600px;
    height: auto;
    margin-right: 150px;
    margin-left: 30px;
}
button,.ads{
   background-color: #3882f6;
   color: #f9faf8;
   padding: 6px 22px;
   border-radius: 9px;
}
button:hover{
    background-color: #1f2937;
}
main{
    padding: 70px;
}
.example{
    font-size: 36px;
    font-family: "Bold";
    color: #1f2937;
    text-align: center;
}
.flexBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-size: 18px;
    color: #2e3e54;
}
.flexBox .img{
    width: 300px;
    height: 200px;
}
.quote{
    height: auto;
    background-color: #e5e7eb;
    font-size: 36px;
    font-family: "ThinIt";
    color: #1f2937;
    text-align: center;
    padding: 100px;
}
.author{
    font-size: 36px;
    font-family: "Regular";
    text-align: right;
}
.ads{
    display: inline-flex;
    width: 900px;
    height: 160px;
    margin: 80px;
    margin-left: 400px;
}
.text{
    display: inline-block;
    margin-left: 100px;
    font-weight: 300;
}
#join{
    margin-top: 50px;
    font-size: larger;
    font-weight: bold;
}
.text button{
    margin-top: 60px;
    margin-left: 100px;
    border-color: #f9faf8;
}
footer{
    padding: 20px 0;
    text-align: center;
}